/*GENERALES*/

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}

body {
    background: url(../img/background-v1.jpg);
}

a {
    color: #01B1EA;
}

a:visited {
    color: #01B1EA;
}

a:hover {
    color: #555555;
}

/*CONTAINER*/

.container {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}


/*HEADER*/



div.header {
  margin: 30px auto;
  background: #F0F0F0;
  padding: 15px;
}

div.header img.izquierda {
  float: left;
  margin-right: 15px;
}

div.header aside {
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

div.reset {
  clear: both;
}

.logo {
    padding: 20px;
    margin-left: 20px;
    float: left;
}

.logo img {
    float: left;
    height: 100px;
}

.logo a {
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

.logo a:hover {
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}

.checkmail {
    max-width: 55%;
    height: auto;
    display: block;
    margin: auto;
}

.money {
    max-width: 25%;
    height: auto;
    display:block;
    margin:auto;
}

.btn-center {
    margin-top: 18px;
    display:block;
    margin:auto;
    text-decoration: none;
}

/*MENU*/

.home {
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    width: 200px;
}

.home ul {
    list-style: none;
    margin: 0px auto;
    margin-left: 20px;
}

.home ul li {
    line-height: 55px;
    float: left;
    list-style: none;
}

.home a {
    display: block;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
    text-decoration: none;
}

.home a:hover {
    background: #01B1EA;
}
/*CONTENT*/

.content {
    margin: 0px auto;
    overflow: hidden;
    background: white;
}


/*BARRA LATERAL*/

.sidebar {
    width: 20%;
    min-height: 500px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    list-style: none;
}

.sidebar .block_aside {
    display: block;
    width: 80%; 
}

.sidebar h3 {
    display: block;
    color: #222;
    width: 80%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA;
}

.sidebar ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar ul li {
    list-style: none;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*FORMS*/

.form_container {
    width: 90%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
    display: block;
    width: 60%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button,
.button {
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979CD;
    border: 1px solid #11608E;
    cursor: pointer;
}

.button {
    background: #33AE3D;
    color: white !important;
    text-decoration: none;
}

.button-small {
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}

.button-gestion {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-red {
    background: red;
    border: 1px solid #cf1717;
}

label,
input[type="button"],
input[type="submit"],
button {
    display: block;
    margin-top: 10px;
}


/*CENTRAL*/

.central {
    width: 72%;
    min-height: 500px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

.central h1 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

.central h2 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

/*FOOTER*/

.footer {
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 4px solid #01B1EA;
}
